body{
    background-color: #e3e8f5 ;
    font-family: Ruda Rounded Mplus 1c bold;
    
}
.container{
    background-color: rgba(77, 81, 99, 0.055);
    margin-top: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    width: auto;
}
.navbar{
    color: white;
    border-radius: 10px;
}
.cor{
    font-family: Ruda Rounded Mplus 1c bold;
    color: #ff9900;
    border-radius: 10px;
    
}

.direita{
    text-align: center;
    margin: auto;
}
.esquerda{
   
    margin: auto;
    text-align: center;

}

.title{
    text-align: center;
    padding-top: 70px;
    
}
h1{
    color: #adb8d7;
}
h3{
    color: #08074e;
}


.btn{
    background-color: #ADB8D7 ;
    color: #08074e bold;
}
#destaque{
    color: #3e3e3e;
}
.empresas{
    box-sizing: border-box;
    align-items: center;
    margin:auto;
}
footer{
    color: rgb(100, 40, 40);
    text-align: center;
}