body{
    background-color: #e3e8f5 ;
    font-family: Ruda Rounded Mplus 1c bold;
    
}
.container{
    background-color: #ffffff;
    width: auto;
}
.navbar{
    
    color: white;
}
.direita{
    text-align: center;
    margin: 30px;
}
.esquerda{
    text-align: center;
    margin: 30px;
}


.btn{
    background-color: #ADB8D7 ;
    bottom: #ADB8D7;
}
.formatacao{
    text-align: center;
    
}
h1{
    color: #adb8d7;
}
h3{
    color: #08074e;
}
#destaque{
    color: #6b6b70;
    
    
}
.empresas{
    box-sizing: border-box;
    align-items: center;
    margin:auto;
}
footer{
    color: brown;
    text-align: center;
}